asgiref==3.6.0
caer==2.0.8
depthai==2.20.2.0
distlib==0.3.6
Django==4.1.5
filelock==3.9.0
imutils==0.5.4
mypy==0.991
mypy-extensions==0.4.3
numpy==1.24.1
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
pbr==5.11.1
platformdirs==2.6.2
protobuf==4.21.12
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
sqlparse==0.4.3
stevedore==4.1.1
tomli==2.0.1
typing_extensions==4.4.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
