<!DOCTYPE html>
<html>
 <title>
  Admin change user's password
 </title>
 <body>
  <h1>Hello admin!</h1>
  <h2>Please fill out the form below to change the user's password</h2>
  <div>
   <form>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username">
    <label for="new-password">New password: </label>
    <input type="text" id="new-password" name="new-password">
    <label for="new-password-confirmation">Please re-enter the new password: </label>
    <input type="text" id="new-password-confirmation" name="new-password-confirmation">
    <input type="submit" value="submit">
   </form>
  </div>
 </body>
</html>