<!DOCTYPE html>
<html lang="en">
 <head>
  <title>
   BT1XX Control Software
  </title>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name='viewport' content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" src="{{ url_for('serve_static_js', filename='stations_programs_start.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('serve_static_css', filename = 'home.css') }}"/>
  <link rel="icon" type="image/x-icon" href="{{ url_for('serve_static_photos', filename = 'Martinrea-logo.png') }}"/>
 </head>
 <body>
  <header> 
   <div class="navbar">
    <div class="logo">
     <img id='home-logo' src="{{ url_for('serve_static_photos', filename = 'Martinrea-logo.png') }}" alt="Logo"></img>
     <a href="{{ url_for('homepage') }}">BT1XX Control Software</a>
    </div>
    <ul class="links">
     <li><a href="{{ url_for('homepage') }}">Home</a></li>
     <li><a href="#">Station 100</a></li>
     <li><a href="#">Station 120</a></li>
     <li><a href="/bt1xx/about/">About</a></li>
     <li><a href="/bt1xx/contact/">Contact</a></li>
    </ul>
    <a href="#" class="action_btn">Launch All Cameras</a>
    <div class="toggle_btn">
     <i class="fa-solid fa-bars"></i>
    </div>
   </div>
   <div class="dropdown_menu">
    <ul>
     <li><a href="{{ url_for('homepage') }}">Home</a></li>
     <li><a href="#">Station 100</a></li>
     <li><a href="#">Station 120</a></li>
     <li><a href="/bt1xx/about/">About</a></li>
     <li><a href="/bt1xx/contact/">Contact</a></li>
     <li><a href="#" class="action_btn">Launch All Cameras</a></li>
    </ul>
   </div>
  </header>

  <main>
   <section id="main-paragraph">
    <h1 id="heading">
     Hi {{ user_name }}! Welcome to BT1XX Project!
    </h1>
    <h2>
     How are you feeling today {{ user_name }}?
    </h2>
    <p>
     A brief discription about BT1XX Control Software: This is a program that help you to interact with the cameras for Object Detection Project that was developed by us.
    </p>
   </section>
   <div>
    <ul>
     <h2>Please choose the station you want to view</h2>
     <li>
      <a href="/bt1xx/station/100/">Station 100</a>
     </li>
     <li>
      <a href="/bt1xx/station/120/">Station 120</a>
     </li>
     <li>
      <a href="{{ url_for('logout') }}">Log Out</a>
     </li>
    </ul>
   </div>
   <div>
    <button id="start-button" onclick="runPrograms()">Launch All Cameras</button>
   </div>
  </main>
 </body>
</html>