<!DOCTYPE html>
<html>
 <head>
  <title>
   BT1XX Control Software
  </title>
  <script type="text/javascript" src="{{ url_for('serve_static_js', filename='stations_programs_start.js') }}"></script>
 </head>
 <body>
  <h1>
   Welcome to BT1XX Project!
  </h1>
  <div>
   <ul>
    <h2>Please choose the station you want to view</h2>
    <li>
     <a href="/bt1xx/station/100/">Station 100</a>
    </li>
    <li>
     <a href="/bt1xx/station/120/">Station 120</a>
    </li>
    <li>
     <a href="{{ url_for('logout') }}">Log Out</a>
    </li>
   </ul>
  </div>
  <div>
   <button id="start-button" onclick="runPrograms()">Launch All Cameras</button>
  </div>
 </body>
</html>