<!DOCTYPE html>
<html>
 <head>
  <title>BT1XX Program Sign In</title>
 </head>
 <body>
  <div>
   <h1>
    Welcome to BT1XX Program! 
   </h1>
   <h2>
    Please login using your username(email) and password:
   </h2>
  </div>
  <div>
   <form action="{{ url_for('authentication') }}" method="POST">
    <label for="username">Username(Email):</label><br>
    <input type="text" name="username" id="username"/><br>
    {% if request.method == 'POST' and errors.get('username') %}
     <span class="error" style="color:red;">{{ errors['username'] }}</span><br>
    {% endif %}
    <label for="password">Password:</label><br>
    <input type="text" name="password" id="password"/><br>
    {% if request.method == 'POST' and errors.get('password') %} 
     <span class="error" style="color:red">{{ errors['password'] }}</span><br>
    {% endif %}
    <input type="submit" value="Sign In" name="login"/>
   </form>
  </div>
 </body>
</html>