<!DOCTYPE html>
<html>
 <head>
  <title id="title">
   Mask redo process Station {{ station_number }}
  </title>
  <script type="text/javascript" src="{{ url_for('serve_static_js', filename = 'redo-mask.js') }}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('serve_static_css', filename='redo-mask.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('serve_static_photos', filename = 'eye-mask.png') }}"/>
 </head>
 <body>
  <header class="header">
    <div>
      <img id="logo" src="{{ url_for('serve_static_photos', filename = 'Martinrea-logo.png') }}" alt="Logo" onclick="goToSettingPage()">
      <h2 class="page-heading">Redo Mask manuals for station {{ station_number }}</h2>
    </div>
  </header>
  <div>
    <nav>
      <div class="navigation-bar">
      <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox"/>
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
        <ul class="menu__box">
        <li><img id="nav-logo" src="{{ url_for('serve_static_photos', filename = 'Martinrea-logo.png') }}" alt="Logo"></li>
        <li><a class="menu__item" href="{{ url_for('homepage') }}">Home</a></li>
        <li><a class="menu__item" href="{{ url_for('station_detail', station_number = station_number) }}">Station</a></li>
        <li><a class="menu__item" href="/bt1xx/contact">Contact</a></li>
        <li><a class="menu__item" href="/bt1xx/about">About</a></li>
        </ul>
      </div>
      </div>  
    </nav>
  </div>
  <div class="redo-mask-box">
   <h2 id="redo-mask-instruction">
     Welcome to redo mask manual for station {{station_number}}!
   </h2>
   <form action="{{ url_for('handle_redo_mask', station_number=station_number) }}" method="POST" id="form-redo-mask">
    <p id="text">
      Please choose which mask part you want to redo in the following options for station {{ station_number }}:
    </p>
    <select name="mask_options_id" id="mask-option">
      {% if station_number == 100 %} 
        {% for option in mask_options_100 %} 
        <option value="{{ option }}" 
          {% if option == mask_options_id %} 
          selected 
          {% endif %}>
          {{ option }}
        </option>
        {% endfor %} 
      {% elif station_number == 120 %} 
        {% for option in mask_options_120 %} 
        <option value="{{ option }}" 
          {% if option == mask_options_id %} 
          selected 
          {% endif %}>
          {{ option }}
        </option>
        {% endfor %} 
      {% endif %}
    </select><br>
    {% if request.method == 'POST' and errors.get('mask_options_id') %} 
     <span class="error" style="color:red;">{{ errors['mask_options_id'] }}</span><br>
    {% endif %} 
    <br><br><br>
    <button id="show-frame-button" onclick="loadContent()">Start</button><br>
    <div class="sand-hourglass" style="display:none;">
      <div class="top"></div>
      <div class="bottom"></div>
    </div>
    {% if station_number == 100 %}
    <div>
      <p id="top-part" style="display:none;">Load top silver part, then press any button to continue.</p>
      <button id="top-part-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="top-part-colour" style="display:none;">Load top part with colour, then press any button to continue.</p>
      <button id="top-part-colour-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="top-mask" style="display:none;">Creating the top mask, please hang on tight for at least 1 minute:</p>
      <p id="top-timer" style="display:none;">00:01:00</p>
      <p id="left-part" style="display:none;">Load left silver part, then press any button to continue.</p>
      <button id="left-part-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="left-part-colour" style="display:none;">Load left part with colour, then press any button to continue.</p>
      <button id="left-part-colour-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="left-mask" style="display:none;">Creating the left mask, please hang on tight for at least 1 minute:</p>
      <p id="left-timer" style="display:none;">00:01:00</p>
      <p id="bottom-part" style="display:none;">Load bottom silver part, after that, press any button to move on the next part.</p>
      <button id="bottom-part-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="bottom-part-colour" style="display:none;">Load bottom part with colour, then press any button to continue the process.</p>
      <button id="bottom-part-colour-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="bottom-mask" style="display:none;">Creating the bottom mask, please hang on tight for at least 1 minute:</p>
      <p id="bottom-timer" style="display:none;">00:01:00</p>
      <p id="right-part" style="display:none;">Load right silver part, then press any button to continue.</p>
      <button id="right-part-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="right-part-colour" style="display:none;">Load right silver part with colour, then press any button to continue.</p>
      <button id="right-part-colour-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="right-mask" style="display:none;">Creating the right mask, please hang on tight for at least 1 minute:</p>
      <p id="right-timer" style="display:none;">00:01:00</p>
    </div>
    {% elif station_number == 120 %}
    <div>
      <p id="topRight-part" style="display:none;">Load top right part, then press any button to continue.</p><br>
      <button id="topRight-part-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="topRight-part-colour" style="display:none;">Load top right part with colour, then press any button to continue.</p><br>
      <button id="topRight-part-colour-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="topRight-mask" style="display:none;">Creating the top right mask, please hang on tight for at least 1 minute:</p>
      <p id="topRight-timer" style="display:none;">00:01:00</p>
      <p id="topLeft-part" style="display:none;">Load top left part, then press any button to continue.</p><br>
      <button id="topLeft-part-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="topLeft-part-colour" style="display:none;">Load top left part with colour, then press any button to continue.</p><br>
      <button id="topLeft-part-colour-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="topLeft-mask" style="display:none;">Creating the top left mask, please hang on tight for at least 1 minute:</p>
      <p id="topLeft-timer" style="display:none;">00:01:00</p>
      <p id="left120-part" style="display:none;">Load left part, then press any button to continue.</p><br>
      <button id="left120-part-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="left120-part-colour" style="display:none;">Load left part with colour, then press any button to continue.</p><br>
      <button id="left120-part-colour-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="left120-mask" style="display:none;">Creating the left mask, please hang on tight for at least 1 minute:</p>
      <p id="left120-timer" style="display:none;">00:01:00</p>
      <p id="bottomLeft-part" style="display:none;">Load bottom left part, after that, press any button to move on the next part.</p><br>
      <button id="bottomLeft-part-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="bottomLeft-part-colour" style="display:none;">Load bottom left part with colour, then press any button to continue the process.</p><br>
      <button id="bottomLeft-part-colour-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="bottomLeft-mask" style="display:none;">Creating the bottom left mask, please hang on tight for at least 1 minute:</p>
      <p id="bottomLeft-timer" style="display:none;">00:01:00</p>
      <p id="bottomRight-part" style="display:none;">Load bottom right part, after that, press any button to move on the next part.</p><br>
      <button id="bottomRight-part-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="bottomRight-part-colour" style="display:none;">Load bottom right part with colour, then press any button to continue the process.</p><br>
      <button id="bottomRight-part-colour-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="bottomRight-mask" style="display:none;">Creating the bottom right mask, please hang on tight for at least 1 minute:</p>
      <p id="bottomRight-timer" style="display:none;">00:01:00</p>
      <p id="right120-part" style="display:none;">Load right part, then press any button to continue.</p><br>
      <button id="right120-part-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="right120-part-colour" style="display:none;">Load right part with colour, then press any button to continue.</p><br>
      <button id="right120-part-colour-button" style="display:none;" class="button">Finish Loading</button><br>
      <p id="right120-mask" style="display:none;">Creating the top mask, please hang on tight for at least 1 minute:</p>
      <p id="right120-timer" style="display:none;">00:01:00</p>
    </div>
    {% endif %}
   </form>
   <div class="under-main-section">
    <ul>
     <h2>Make no changes?</h2>
     <button id="return-button">Station {{ station_number }} mask setting</button>
    </ul>
   </div>
  </div>
 </div>
 <footer class="footer">
  <div class="container">
   <p>
    © 2023 Martinrea Hydroform Solutions. All rights reserved.
   </p>
   <ul>
     <li>
       <a href="#">
         <i class="fa-brands fa-instagram instagram"></i>
       </a>
     </li>
     <li>
       <a href="#">
         <i class="fa-brands fa-whatsapp whatsapp"></i>
       </a>
     </li>
     <li>
       <a href="#">
         <i class="fa-brands fa-twitter twitter"></i>
       </a>
     </li>
   </ul>
  </div>
 </footer>
 </body>
</html>