<!DOCTYPE html>
<html>
 <head>
  <title>
   Station {{ station_number }} 
  </title>
  <link rel="stylesheet" href="{{ url_for('serve_static_css', filename='station_details.css') }}"/>
 </head>
 <body>
  <div>
   <h1>Welcome to station {{ station_number }}</h1>
   <h2>Please see the below for station {{ station_number }} details</h2>
  </div>
  <div>
   <p>
    Station {{ station_number }} manuals
   </p>
   <ul>
    <li>
     <a href="{{ url_for('station_settings', station_number=station_number) }}">Station {{ station_number }} settings</a>
    </li>
    <li>
     <a href="{{ url_for('station_mask_setup', station_number=station_number) }}">Mask Setup for Station {{ station_number }}</a>
    </li>
    <li>
     <a href="{{ url_for('station_errors_setup', station_number=station_number) }}">Errors Setup for Station {{ station_number }}</a>
    </li>
    <li>
     <a href="{{ url_for('homepage') }}">Home</a>
    </li>
   </ul>
  </div>
 </body>
</html>