<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="UTF-8">
  <title>
   Station {{ station_number }} 
  </title>
  <script type="text/javascript" src="{{ url_for('serve_static_js', filename='station_details.js') }}"></script>
  <!-- JQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('serve_static_css', filename='station_details.css') }}"/>
  <link rel="icon" type="image/x-icon" href="{{ url_for('serve_static_photos', filename = 'Martinrea-logo.png') }}"/>
  <!-- Box icons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <body>
  <div class="sidebar">
   <div class="logo-details">
    <i class='bx bxs-wrench'></i>
    <span class="logo_name">Station {{ station_number }}</span>
   </div>
   <ul class="nav-links">
    <li>
     <a href="{{ url_for('homepage') }}">
      <i class="bx bx-grid-alt"></i>
      <span class="link_name">Dashboard</span>
     </a>
     <ul class="sub-menu blank">
      <li><a class="link_name" href="#">Dashboard</a></li>
     </ul>
    </li>
    <li>
     <div class="icon-link">
      <a href="{{ url_for('station_settings', station_number=station_number) }}">
       <i class='bx bxs-cog' ></i>
       <span class="link_name">Settings</span>
      </a>
      <i class="bx bxs-chevron-down arrow"></i>
     </div>
     <ul class="sub-menu">
      <li><a class="link_name" href="{{ url_for('station_settings', station_number=station_number) }}">Settings</a></li>
      <li><a href="#">Brightness</a></li>
      <li><a href="#">Focal Length</a></li>
      <li><a href="#">White Balance Lock</a></li>
      <li><a href="#">Auto Exposure Lock</a></li>
     </ul>
    </li>
    <li>
     <div class="icon-link">
      <a href="{{ url_for('station_mask_setup', station_number=station_number) }}">
       <i class='bx bxs-mask' ></i>
       <span class="link_name">Mask</span>
      </a>
      <i class="bx bxs-chevron-down arrow"></i>
     </div>
     <ul class="sub-menu">
      <li><a class="link_name" href="{{ url_for('station_mask_setup', station_number=station_number) }}">Mask</a></li>
      <li><a href="{{ url_for('station_mask_setup', station_number=station_number) }}">Start Mask Setup</a></li>
      <li><a href="{{ url_for('redo_mask', station_number=station_number) }}">Redo Mask</a></li>
     </ul>
    </li>
    <li>
     <a href="{{ url_for('station_errors_setup', station_number=station_number) }}">
      <i class='bx bx-math' ></i>
      <span class="link_name">Errors</span>
     </a>
     <ul class="sub-menu blank">
      <li><a class="link_name" href="{{ url_for('station_errors_setup', station_number=station_number) }}">Errors</a></li>
     </ul>
    </li>
    <li>
     <a href="#">
      <i class='bx bx-cool'></i>
      <span class="link_name">About</span>
     </a>
     <ul class="sub-menu blank">
      <li><a class="link_name" href="#">About</a></li>
     </ul>
    </li>
    <li>
     <a href="#">
      <i class='bx bxs-contact' ></i>
      <span class="link_name">Contact</span>
     </a>
     <ul class="sub-menu blank">
      <li><a class="link_name" href="#">Contact</a></li>
     </ul>
    </li>
    <li>
     <div class="profile-details">
      <div class="profile-content">
       <img src="{{ url_for('serve_static_photos', filename = 'Martinrea-logo.png') }}" alt="profile">
      </div>
       <div class="name-job">
        <div class="profile-name">{{ user_name }}</div>
        <div class="job">Admin</div>
       </div>
       <i class="bx bx-log-out"></i>
      </div>
    </li>
   </ul>
  </div>
  <section class="home-section">
   <div class="home-content">
    <i class="bx bx-menu"></i>
    <span class="text">STATION {{ station_number }} DASHBOARD</span>
   </div>
   <div class="dashboard-content">
    <!-- Station Details Dashboard -->
    <!-- Setting status for each station -->
    <section class="settings-section">
      <div class="settings-headings">
        <h1>
          Settings status
        </h1>
        <h2>
          This is where you can view the status of the camera configuration
        </h2>
      </div>
      <div class="grid-container">
        <div class="gridbox" id="box1">
          <div class="box-heading">
            <h1>
              Focal length progress
            </h1>
          </div>
          <div class="focal-length">
            <div class="indicator">
              <div class="bar"></div>
            </div>
            <div class="label">Focal Length: 
              <span id="focal-length-value">
              {% if station_number == 100 %}
                {{ focal_length_100 }}
              {% elif station_number == 120 %} 
                {{ focal_length_120 }}
              {% endif %}
              </span>
            </div>
          </div>
        </div>
        <div class="gridbox" id="box2">
          <div class="box-heading">
            <h1>
              Brightness progress
            </h1>
          </div>
          <div class="brightness">
            <div class="indicator">
              <div class="bar"></div>
            </div>
            <div class="label">Brightness: 
              <span id="brightness-value">
              {% if station_number == 100 %}
                {{ brightness_100 }}
              {% elif station_number == 120 %} 
                {{ brightness_120 }}
              {% endif %}
              </span>
            </div>
          </div>
        </div>
        <div class="gridbox" id="box3">
          <div class="under-box-heading">
            <h1>
              White Balance Lock progress
            </h1>
          </div>
          <!-- Create an indicator to indicate the current state of the white balance lock -->
          <div>
            <label class="switch">
              <input type="checkbox" id="white_balance_lock" name="white_balance_lock" disabled>
              <span class="slider"></span>
              <span id="white_balance_lock_input" style="display: none;">
                {% if station_number == 100 %} 
                  {{ white_balance_100 }}
                {% elif station_number == 120 %} 
                  {{ white_balance_120 }}
                {% endif %}
              </span>
            </label>
          </div>
        </div>
        <div class="gridbox" id="box4">
          <div class="under-box-heading">
            <h1>
              Auto Exposure Lock progress
            </h1>
          </div>
          <!-- Create an indicator to indicate the current state of the auto exposure lock -->
          <div>
            <label class="switch"> 
              <input type="checkbox" id="auto_exposure_lock" name="auto_exposure_lock" disabled>
              <span class="slider"></span>
              <span id="auto_exposure_lock_input" style="display: none;">
                {% if station_number == 100 %} 
                  {{ exposure_lock_100 }}
                {% elif station_number == 120 %} 
                  {{ exposure_lock_120 }} 
                {% endif %} 
              </span>
            </label>
          </div>      
        </div>
      </div>
    </section>
    <!-- Mask status for each station -->
    <section class="mask-section">
      <div class="mask-headings">
        <h1>
          Mask status
        </h1>
        <h2>
          This is where you can view the status of the mask setup progress
        </h2>
      </div>
      <!-- A carousel with an image of each mask -->
      <div class="container">
        {% if station_number == 100 %}
          <input type="radio" name="slider" id="top-mask" checked>
          <input type="radio" name="slider" id="left-mask">
          <input type="radio" name="slider" id="bottom-mask">
          <input type="radio" name="slider" id="right-mask">
          <input type="radio" name="slider" id="ref-mask">
          <!-- Cards -->
          <div class="cards">
            <label class="card" for="top-mask" id="top-mask-card">
              <img src="{{ url_for('serve_static_mask_100', filename = 'top.jpg') }}" alt="image">  
            </label>
            <label class="card" for="left-mask" id="left-mask-card">
              <img src="{{ url_for('serve_static_mask_100', filename = 'left.jpg') }}" alt="image">
            </label>
            <label class="card" for="bottom-mask" id="bottom-mask-card">
              <img src="{{ url_for('serve_static_mask_100', filename = 'bottom.jpg') }}" alt="image">
            </label>
            <label class="card" for="right-mask" id="right-mask-card">
              <img src="{{ url_for('serve_static_mask_100', filename = 'right.jpg') }}" alt="image">
            </label>
            <label class="card" for="ref-mask" id="ref-mask-card">
              <img src="{{ url_for('serve_static_ref_100', filename='STD.jpg') }}" alt="image">
            </label>
          </div>
          <!-- information and status -->
          <div class="status">
            <div class="upper-part">
              <div class="play-icon">
                <svg width="20" height="20" fill="#2992dc" stroke="#2992dc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-play" viewBox="0 0 24 24">
                  <defs/>
                  <path d="M5 3l14 9-14 9V3z"/>
                </svg>
              </div>
              <div class="info-area" id="test">
                <label class="mask-info" id="top-mask-info">
                  <div class="title">Top Mask</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} top mask</div>
                    <div class="inline-status">1</div>
                  </div>
                </label>
                <label class="mask-info" id="left-mask-info">
                  <div class="title">Left Mask</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} left mask</div>
                    <div class="inline-status">2</div>
                  </div>
                </label>
                <label class="mask-info" id="bottom-mask-info">
                  <div class="title">Bottom Mask</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} bottom mask</div>
                    <div class="inline-status">3</div>
                  </div>
                </label>
                <label class="mask-info" id="right-mask-info">
                  <div class="title">Right Mask</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} right mask</div>
                    <div class="inline-status">4</div>
                  </div>
                </label>
                <label class="mask-info" id="ref-mask-info">
                  <div class="title">Reference Image</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} ref image</div>
                    <div class="inline-status">5</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="progress-bar">
              <span class="progress"></span>
            </div>
          </div>
        {% elif station_number == 120 %}
          <input type="radio" name="slider" id="top-right-mask" checked>
          <input type="radio" name="slider" id="top-left-mask">
          <input type="radio" name="slider" id="left-mask-120">
          <input type="radio" name="slider" id="bottom-left-mask">
          <input type="radio" name="slider" id="bottom-right-mask">
          <input type="radio" name="slider" id="right-mask-120">
          <input type="radio" name="slider" id="ref-mask-120">
          <!-- Cards -->
          <div class="cards">
            <label class="card" for="top-right-mask" id="top-right-mask-card">
              <img src="{{ url_for('serve_static_mask_120', filename = 'topRight.jpg') }}" alt="image">
            </label>
            <label class="card" for="top-left-mask" id="top-left-mask-card">
              <img src="{{ url_for('serve_static_mask_120', filename = 'topLeft.jpg') }}" alt="image">
            </label>
            <label class="card" for="left-mask-120" id="left-mask-card-120">
              <img src="{{ url_for('serve_static_mask_120', filename = 'left.jpg') }}" alt="image">
            </label>
            <label class="card" for="bottom-left-mask" id="bottom-left-mask-card">
              <img src="{{ url_for('serve_static_mask_120', filename = 'bottomLeft.jpg') }}" alt="image">
            </label>
            <label class="card" for="bottom-right-mask" id="bottom-right-mask-card">
              <img src="{{ url_for('serve_static_mask_120', filename = 'bottomRight.jpg') }}" alt="image">
            </label>
            <label class="card" for="right-mask-120" id="right-mask-card-120">
              <img src="{{ url_for('serve_static_mask_120', filename = 'right.jpg') }}" alt="image">
            </label>
            <label class="card" for="ref-mask-120" id="ref-mask-card-120">
              <img src="{{ url_for('serve_static_ref_120', filename = 'STD.jpg') }}" alt="image"> 
            </label>
          </div>
          <!-- information and status -->
          <div class="status">
            <div class="upper-part">
              <div class="play-icon">
                <svg width="20" height="20" fill="#2992dc" stroke="#2992dc" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-play" viewBox="0 0 24 24">
                  <defs/>
                  <path d="M5 3l14 9-14 9V3z"/>
                </svg>
              </div>
              <div class="info-area" id="test">
                <label class="mask-info" id="top-right-mask-info">
                  <div class="title">Top Right Mask</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} top right mask</div>
                    <div class="inline-status">1</div>
                  </div>
                </label>
                <label class="mask-info" id="top-left-mask-info">
                  <div class="title">Top Left Mask</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} top left mask</div>
                    <div class="inline-status">2</div>
                  </div>
                </label>
                <label class="mask-info" id="left-mask-info-120">
                  <div class="title">Left Mask</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} left mask</div>
                    <div class="inline-status">3</div>
                  </div>
                </label>
                <label class="mask-info" id="bottom-left-mask-info">
                  <div class="title">Bottom Left Mask</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} bottom left mask</div>
                    <div class="inline-status">4</div>
                  </div>
                </label>
                <label class="mask-info" id="bottom-right-mask-info">
                  <div class="title">Bottom Right Mask</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} bottom right mask</div>
                    <div class="inline-status">5</div>
                  </div>
                </label>
                <label class="mask-info" id="right-mask-info">
                  <div class="title">Right Mask</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} right mask</div>
                    <div class="inline-status">6</div>
                  </div>
                </label>
                <label class="mask-info" id="ref-mask-info-120">
                  <div class="title">Reference Image</div>
                  <div class="sub-line">
                    <div class="subtitle">Station {{ station_number }} ref image</div>
                    <div class="inline-status">7</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="progress-bar">
              <span class="progress"></span>
            </div>
          </div>
        {% endif %}
      </div>
    </section>
    <!-- Error section -->
    <section class="error-section">
      <!-- Headings -->
      <div class="errors-headings">
        <h1>
          MSE status
        </h1>
        <h2>
          This is where you can see the status for the Mean Square Algorithm set up process
        </h2>
      </div>
      <!-- Progress tracking error setup section -->
      <div>
        <svg>
          <circle class="bg" cx="57" cy="57" r="56" />
          <circle class="meter-1" cx="57" cy="57" r="56" />
        </svg>
      </div>
    </section>
   </div>
  </section>
 </body>
</html>