<!DOCTYPE html>
<html>
 <head>
  <title id="station">
   Control Settings Station {{ station_number }}
  </title>
  <script type="text/javascript" src="{{ url_for('serve_static_js', filename = 'station_control_setup.js' ) }}"></script>
 </head>
 <body>
  <div class="header">
   <h1>
    Welcome to station {{ station_number }} control setup manuals!
   </h1>
   <h2>
    Please follow the following instructions to set up all the controls for this station!
   </h2> 
  </div>
  <div class="body">
    <button id="show-frame-button" onclick="loadContent()">Start Control Setup</button>
  </div>
 </body>
</html>