<!DOCTYPE html>
<html>
 <head>
  <title>
   Final View
  </title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('serve_static_photos', filename = 'Martinrea-logo.png') }}"/>
  <link rel="stylesheet" href="{{ url_for('serve_static_css', filename = 'view.css') }}"/>
  <script type="text/javascript" src="{{ url_for('serve_static_js', filename='view.js') }}"></script>
 </head>
 <body>
  <header class="header">
   <div>
     <img id="logo" src="{{ url_for('serve_static_photos', filename = 'Martinrea-logo.png') }}" alt="Logo" onclick="goToSettingPage()">
     <h2 class="page-heading">Final View Page</h2>
   </div>
  </header>
  <div>
   <nav>
     <div class="navigation-bar">
       <div class="hamburger-menu">
         <input id="menu__toggle" type="checkbox" />
         <label class="menu__btn" for="menu__toggle">
           <span></span>
         </label>
         <ul class="menu__box">
         <li><img id="nav-logo" src="{{ url_for('serve_static_photos', filename = 'Martinrea-logo.png') }}" alt="Logo"></li>
         <li><a class="menu__item" href="{{ url_for('homepage') }}">Home</a></li>
         <li><a class="menu__item" href="/bt1xx/contact">Contact</a></li>
         <li><a class="menu__item" href="/bt1xx/about">About</a></li>
         </ul>
       </div>
     </div>  
   </nav>
  </div>
  <div class='Headings'>
   <h1>
    Running all the connected cameras ...
   </h1>
  </div>
  <div class="subheadings">
   <!-- sand-hourglass -->
   <div class="sand-hourglass" style="display:none;">
    <div class="top"></div>
    <div class="bottom"></div>
   </div>
   <div class="sand-hourglass-2" style="display:none;">
    <div class="top-2"></div>
    <div class="bottom-2"></div>
   </div>
  </div>
  <!-- Monitoring viewport for each camera -->
  <!-- <div class="viewport"></div> -->
 </body>
</html>